.info {
  padding: 12px 20px;
}

.buy {
  font-size: 24px;
  padding: 12px 24px;
  border: none;
  background-color: #10c44c;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

.sum {
  font-size: 24px;
  font-weight: 500;
}

.count {
  margin-top: 10px;
  color: #979797;
}