.item {
  display: flex;
}

.checkbox {
  align-self: start;
}

.img {
  width: 200px;
  height: 150px;
  object-fit: contain;
}

.name {
  font-size: 24px;
  width: 30%;
}

.price {
  font-weight: 600;
  margin-left: 40px;
}

.stock {
  margin-left: 40px;
}

.buttons {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
}

.button {
  padding: 10px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ddd;
  border-radius: 6px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  padding: 0 16px;
  min-width: 20px;
}

.remove {
  cursor: pointer;
  color: red;
}

.actions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-left: auto;
}